.mobile-menu__cover {
    visibility: hidden;
}
header {
    position: relative;

    & nav {
        position: absolute;
        top: 0;
        right: -40%;
        width: 40%;
        height: 100vh;
        background-color: #d1e3ff;
        transition: .7s;
        z-index: 200;

        & ul {
            margin-top: 95px;
            display: block !important;
            text-align: center;

            & li {
                font-size: 1.4em;
                width: 100%;
                margin-bottom: 15px;
                margin-left: 0 !important;
            }
        }
    }
    & .mobile-menu__btn{
        display: block;
        z-index: 200;
    }
}

.profile__inner {

    & .profile__right {
        & table {
            & tbody {
                & tr {
                    font-size: 14px;
                    & td.first__td {
                        width: 20%;
                    }
                    & td.second__td {
                        width: 80%;
                    }
                }
            }
        }
        & p {
            font-size: 14px;
        }
    }
}